.ui-widget{
                    font-size: 12px !important;
                }
                html, body{                    

                }
                table{                    
                    width: 100%;                    
                }
                input, textarea, label, .combo{
                    width: 95% !important;                    
                }
                                
                .ui-widget-overlay {                    
                    opacity: 0.3 !important;
                }



/*      ICONOS        */

.ico-nuevo {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-nuevo.png")
		!important;
}

.ico-editar {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-editar.png")
		!important;
}

.ico-eliminar {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-eliminar.png")
		!important;
}

.ico-buscar {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-buscar.png")
		!important;
}

.ico-versilabo {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-versilabo.png")
		!important;
}

.ico-edisilabo {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-edisilabo.png")
		!important;
}

.ico-edipresentacion {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-edipresentacion.png")
		!important;
}

.ico-verpresentacion {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-verpresentacion.png")
		!important;
}

.ico-edicronograma {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-edicronograma.png")
		!important;
}

.ico-vercronograma {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-vercronograma.png")
		!important;
}

.ico-cancelar {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-cancelar.png")
		!important;
}

.ico-guardar {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-guardar.png")
		!important;
}

.ico-unidad {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-unidad.png")
		!important;
}

.ico-evaluacion {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-evaluacion.png")
		!important;
}

.ico-asignacion {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-asignacion.png")
		!important;
}

.ico-pregunta {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-pregunta.png")
		!important;
}

.ico-verasignacion {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-verasignacion.png")
		!important;
}


.ico-ediasignacion {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	background-image: url("./../../resources/imagenes/iconos/ico-ediasignacion.png")
		!important;
}


