<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pe.gob.mintra.scv.dao.CursoDao">

	<resultMap id="ResultMapCurso" type="Curso">
		<id column="N_CODCUR" property="nCodCur" />
		<result column="V_NOMCUR" property="vNomCur" />
		<result column="D_FECINICUR" property="dFecIniCur" />
		<result column="D_FECFINCUR" property="dFecFinCur" />
		<result column="N_ESTCUR" property="nEstCur" />
	</resultMap>

	<resultMap id="ResultMapUnidad" type="Unidad">
		<id column="N_CODCUR" property="codCur" />
		<id column="N_CODUNIAPR" property="codUniApr" />
		<result column="V_DESUNI" property="desUni" />
	</resultMap>

	<select id="listarCurso" statementType="CALLABLE" resultMap="ResultMapCurso">
		{call PKG_CURSO.SP_LSTCUR(
		#{curso.vNomCur},
		#{outParameters.lstCur,jdbcType=CURSOR,mode=OUT,javaType=java.sql.ResultSet,resultMap=ResultMapCurso},
		#{outParameters.codErr, jdbcType=VARCHAR,mode=OUT},
		#{outParameters.menErr, jdbcType=VARCHAR,mode=OUT}
		)}
	</select>

	<select id="insertarCurso" statementType="CALLABLE">
		{call
		PKG_CURSO.SP_INSCUR(
		#{curso.vNomCur},
		#{curso.vRutPres},
		#{curso.vRutSil},
		#{curso.vRutCro},
		#{curso.dFecIniCur},
		#{curso.dFecFinCur},
		#{outParameters.nCodCur,
		jdbcType=INTEGER,mode=OUT},
		#{outParameters.codErr,
		jdbcType=VARCHAR,mode=OUT},
		#{outParameters.menErr,
		jdbcType=VARCHAR,mode=OUT}
		)}
	</select>

	<select id="actualizarCurso" statementType="CALLABLE">
		{call
		PKG_CURSO.SP_ACTCUR(
		#{curso.nCodCur},
		#{curso.vNomCur},
		#{curso.vRutPres},
		#{curso.vRutSil},
		#{curso.vRutCro},
		#{curso.dFecIniCur},
		#{curso.dFecFinCur},
		#{curso.nEstCur},
		#{outParameters.codErr, jdbcType=VARCHAR,mode=OUT},
		#{outParameters.menErr,
		jdbcType=VARCHAR,mode=OUT}
		)}
	</select>

	<select id="listarUnidad" statementType="CALLABLE" resultMap="ResultMapCurso">
		{call PKG_CURSO.SP_LSTUNI(
		#{curso.nCodCur},
		#{outParameters.lstUni,jdbcType=CURSOR,mode=OUT,javaType=java.sql.ResultSet,resultMap=ResultMapUnidad},
		#{outParameters.codErr, jdbcType=VARCHAR,mode=OUT},
		#{outParameters.menErr, jdbcType=VARCHAR,mode=OUT}
		)}
	</select>

	<select id="insertarUnidad" statementType="CALLABLE">
		{call
		PKG_CURSO.SP_INSUNI(
		#{curso.nCodCur},
		#{unidad.desUni},
		#{outParameters.codUniApr, jdbcType=INTEGER,mode=OUT},
		#{outParameters.codErr, jdbcType=VARCHAR,mode=OUT},
		#{outParameters.menErr,
		jdbcType=VARCHAR,mode=OUT}
		)}
	</select>

	<select id="actualizarUnidad" statementType="CALLABLE">
		{call
		PKG_CURSO.SP_ACTUNI(
		#{unidad.codCur},
		#{unidad.codUniApr},
		#{unidad.desUni},
		#{outParameters.codErr, jdbcType=VARCHAR,mode=OUT},
		#{outParameters.menErr,
		jdbcType=VARCHAR,mode=OUT}
		)}
	</select>



</mapper>