<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>

		<typeAlias type="pe.gob.mintra.scv.model.Curso" alias="Curso" />
		<typeAlias type="pe.gob.mintra.scv.model.Pregunta" alias="Pregunta" />
		<typeAlias type="pe.gob.mintra.scv.model.Opcion" alias="Opcion" />
		<typeAlias type="pe.gob.mintra.scv.model.ProgramacionEvaluacion"
			alias="ProgramacionEvaluacion" />
		<typeAlias type="pe.gob.mintra.scv.model.Evaluacion" alias="Evaluacion" />
		<typeAlias type="pe.gob.mintra.scv.model.UsuarioPorCurso"
			alias="UsuarioPorCurso" />
		<typeAlias type="pe.gob.mintra.scv.model.DetalleEvaluacion"
			alias="DetalleEvaluacion" />
		<typeAlias type="pe.gob.mintra.scv.model.UnidadAprendizaje" alias="Unidad" />
		<typeAlias type="pe.gob.mintra.scv.model.ProgramacionAsignacion"
			alias="ProgramacionAsignacion" />
		<typeAlias type="pe.gob.mintra.scv.model.Asignacion"
			alias="Asignacion" />
			<typeAlias type="pe.gob.mintra.scv.model.TipoForo" alias="TipoForo" />
			<typeAlias type="pe.gob.mintra.scv.model.Foro" alias="Foro" />

	</typeAliases>


	<mappers>


		<mapper resource="pe/gob/mintra/scv/dao/maps/CursoMapper.xml" />
		<mapper resource="pe/gob/mintra/scv/dao/maps/PreguntaMapper.xml" />
		<mapper resource="pe/gob/mintra/scv/dao/maps/EvaluacionMapper.xml" />
		<mapper resource="pe/gob/mintra/scv/dao/maps/AsignacionMapper.xml" />
		<mapper resource="pe/gob/mintra/scv/dao/maps/TipoForoMapper.xml" />
		<mapper resource="pe/gob/mintra/scv/dao/maps/ForoMapper.xml" />

	</mappers>
</configuration>

